table {
  margin: 20px auto;
  font-size: 23px;
}

.add {
  margin: 20px auto;
  font-size: 15px;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add label {
  font-weight: bold;
}

@media screen and (min-width: 800px) {
  table {
    width: 50%;
  }
}
